html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* TODO LO ANTERIOR ES RESETEADOR DE VALORES */

@media screen and (max-width: 1300px){

/*Comienzo del diseño para pantalla PC*/
p , h1 , h2 , h3 , a , th , td , label , ::placeholder , button{
	color: white;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color:  rgba(0, 0, 0, 0.945);
}


/*COMIENZO HEADER*/

.icon{
	display: none;
}

header{
	display:flex ;
	justify-content:space-between;
	background-color: black;
}

header a{
	background-color: black;
	width: 20%;
	display: flex;
	justify-content: center;
	/* display: flex;
	flex-flow: row nowrap;
	justify-content: center; */
	margin-bottom: 3%;
	margin-top: 1%;

}

header a img{
	width: 90%;
	height: 90%; 
	transition: all 0.2s ease;
}

header a img:hover{
	transform: rotate(-5deg);
}

body header nav{
	width: 85%;
}


body header nav ul{
	background-color: rgb(255, 208, 0);
	height: 30%;
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	border-radius: 5px;	
	margin-top: 4%;
	margin-right: 5%;
	
}

 body header nav ul li{	  
	text-shadow: 1px 4px 4px;
	display: flex;
	flex-flow: column nowrap;
	align-self: center;
	
}

body header nav ul li a{
	background-color: rgb(255, 208, 0);
	color: red;
	text-decoration: none;
	text-align: center;
	transition: all 0.2s ease-in-out;
	font-size: 1.3rem;
	width: 100%;
	
} 

body header nav ul li a:hover{
	font-size: 1.7rem;
	font-weight: bold;
	
}

body header nav ul li a:active{
	font-weight: bold;
	padding: 2%;
	
}

/*FIN HEADER*/

/*COMIENZO FOOTER*/

footer{
	background-color: rgb(255, 208, 0);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;

}

footer div{
	width:  40%;
	padding-top: 50px;
	text-align: center;
}

footer div p{
	color: red;
	font-size: 1.2rem;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 1rem;
	transition: all 0.2s ease;	
}
footer div p:hover{
	font-size: 1.3rem;
}

footer a{
	width: 9%;
	height: 5%;
	transition: all 0.1s ease;
}

footer a:hover{
	width: 10%;
	height: 6%;
}
footer img{
	width: 100%;
	height: 100%;
	margin-top: 20px;
}

footer #instagram{
	 width: 63px;
	height: 60px;
	margin-top: 5px;
	transition: all 0.1s ease;
}


footer #instagram:hover{
	
	width: 4.4rem;
	height: 4.4rem;
}

/*FIN FOOTER*/



/* INDEX */
section{
	max-width: 90%;
	height: auto;
	background-image: url("../Imagenes/departamento.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

section.home{
	padding-top: 2%;
	padding-bottom: 3%;
}

article#art1{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-content: flex-end;
	max-width: 90%;
	width: auto;
	height: 40rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5rem;
	/* border: 5px solid rgb(206, 202, 202); */
	background-image: url(../Imagenes/portada.jpg);
	background-size: cover;
	transition: all 0.4s ease;
}

article#art1:hover{
	
	box-shadow: 0.2rem 0.2rem 1.2rem rgb(255, 208, 0);
	padding: 1rem;
}

div.cuadro_texto{
	display: block;
	background-color: rgb(68, 63, 63);
	max-width: 70%;
	max-height: 35%;
	width: 50%;
	height: 40%;
	border: 5px solid;
	border-radius: 6px;
	border-style: outset;
	border-color: rgb(255, 255, 255);
	opacity: 0.95;
	padding-bottom: 0%;
	margin-right: 0.5rem;
	margin-bottom: 0.8rem;
	text-align: left;
	transition: all 0.2s ease;	
}

div.cuadro_texto:hover{
	background-color: rgb(51, 47, 47);
	opacity: 1;
	border-radius: 1.3rem ;
	margin-right: 2rem;
}

div.cuadro_texto h2{
	font-size: 2.5rem;
	font-weight: bolder;
	font-style: italic;
	margin-top: 3%;
	margin-left: 3%;
}

div.cuadro_texto p{
	text-align: left;
	font-size: 1.8rem;
	margin-top: 3%;
	margin-left: 3%;
}


section article#art2{
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	max-width: 100%;
	width: 90.7%;
	margin-left: auto;
	margin-right: auto;
}

section article#art2 div{
	display: block;
	background-color: rgb(68, 63, 63);
	border: 5px;
	border-radius: 6px;
	border-style: outset;
	border-color: rgb(255, 255, 255);
	opacity: 0.85;
	max-width: 85%;
	margin-bottom: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	 transition: all 0.2s ease; 
}
section article#art2 div:hover{
	background-color: rgb(51, 47, 47);
	opacity: 1;
	margin-right: 2rem;
}

section article#art2 div h2{
	font-size: 2.5rem;
	padding-top: 1%;
	padding-bottom: 1%;
	font-weight: bolder;
	font-style: italic;
}

section article#art2 div p{
	font-size: 1.8rem;
}

/*FIN INDEX*/

/* TEMPORADAS */

section.contenedor_tabla{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 7%;
	padding-bottom: 7%;
}

section.contenedor_tabla table{
	width: 90%;
	max-height: 70%;
	background-image: url(../Imagenes/Fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	border-collapse: collapse;
	transition: all 0.3s ease;
}

section.contenedor_tabla table:hover{
	box-shadow: 0.1rem 1.1rem 1.8rem red;
	width: 93%;
}


table tr th{
	padding: 0.7rem;
	font-size: 1.2rem;
	background-color: red;
	color:rgb(255, 208, 0);
	font-weight: bolder;
	font-style: oblique;
	text-decoration: underline;
	padding-top: 2rem;
	border-bottom: 1rem solid red ;
	transition: all 0.2s ease;	
}


tr:nth-child(even) td{
	background-color: rgb(255, 200, 0);
	color: red;
}

table tr td{
	border-top: 2px red;
	border-style: dashed;
	padding: 1.2rem;
	color: white;
	font-size: 1.1rem;
}


/*FIN TEMPORADAS*/

/* CRÍTICA */

section.Critica{
	background-image:url(../Imagenes/departamento.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	padding-bottom: 3%;
}

section.Critica h1{
	text-align: center;
	font-size: 2.5rem;
	width: 40%;
	margin-left: 52%;
	padding-right: 0.7%;
	font-weight: bolder;
	color: red;
	background-color: rgb(255, 200, 0 , 0.98);
	border: 1.6rem solid rgb(255, 200, 0);
	border-radius: 2rem;
	text-shadow: 1px 2px 4px;
	transition: all 0.3s ease;
}

section.Critica h1:hover{
	font-size: 2.7rem;
	text-decoration: underline;
	cursor: pointer;
}

	

section.Critica div{
	display: block;
	width: 100%;
	max-height: 30%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgb(206, 202, 202, 0.6);
}

section.Critica div h2{
	
	max-width: 99%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	font-size: 2rem;
	font-weight: bold;
	transition: all 0.6s ease;
}

section.Critica div h2:hover{
	font-size: 2.3rem;
}

section.Critica div h2 img#tn{
	width: 3rem;
}

section.Critica div h2 img#empire{
	width: 6.5%;
	height: 5.5%;
}

section.Critica div h2 img#guardian{
	width: 8%;
	height: 6%;
}

section.Critica div blockquote{
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.7rem;
	/* background-color: rgb(206, 202, 202, 0.3); */
	color: rgb(32, 32, 32);
	font-style: italic;
	padding-top: 2%;
	padding-bottom: 2%;
}

section.Critica div b{
	font-weight: bold;
}

section.Critica div a:link{
	text-decoration: none;
}

section.Critica div a:hover{
	text-shadow: 1px 1px 2px;
}

section.Critica div blockquote:hover{
	text-shadow: 1px 1px 2px;
}

section.Critica div p{
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.55rem;
	/* background-color: rgb(206, 202, 202, 0.3); */
	color: rgb(32, 32, 32);
	font-style: italic;
	padding-top: 2%;
	padding-bottom: 2%;
}

section.Critica div p:hover{
	text-shadow: 1px 1px 2px;
}

section.Critica div h2#opiniones:hover{
	color: red;
	cursor: pointer;
}

/* FIN CRÍTICIA */

/* ELENCO Y DIRECCIÓN */

 section.elenco_y_direccion{
	max-width: 90%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
}


section.elenco_y_direccion aside.banda_sonora{
	max-width: 20.7%;
	max-height: 100%;
	display: inline-block;
	background-color: rgb(255, 208, 0);
	
}

section.elenco_y_direccion aside.banda_sonora div{
	width: 92.5%;
	height: 25%;
	margin-left:  auto;
	margin-right: auto;
	margin-top: 15%;
	display: flex;
	flex-flow: row wrap;
	border: 0.3rem dashed black;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	transition: all 0.7s ease;
}

section.elenco_y_direccion aside.banda_sonora div:hover{
	background-color: rgb(39, 92, 189);
}

section.elenco_y_direccion aside.banda_sonora div h3{
	font-size: 1.5rem;
	width: 100%;
	padding-top: 4%;
	text-align: center;
	/* margin-bottom: 1rem; */
	margin-top: 1rem;
	color: red;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem 0.4rem;
	
}

section.elenco_y_direccion aside.banda_sonora div p{
	font-size: 1.3rem;
	text-align: center;	
	margin-bottom: 2%;
	color: white;
	margin-left: 5%;
	margin-right: 5%;
	transition: all 0.3s ease;
}

section.elenco_y_direccion aside.banda_sonora div p:hover{
	text-shadow: 0.1rem 0.1rem 0.3rem;
	padding-bottom: 2rem;
}


section.elenco_y_direccion aside.banda_sonora div a {
	width: 90%;
	height: 65%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 4rem;
	margin-top: 5%;
	display: flex;
	justify-content: center;
	
}
section.elenco_y_direccion aside.banda_sonora div a img{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 0.4rem red solid;
	
	transition: all 0.3s ease;
}

section.elenco_y_direccion aside.banda_sonora div a img:hover{
	box-shadow: 0.1rem 0.2rem 4rem rgb(255, 200, 0);
}


section.elenco_y_direccion aside.banda_sonora img#miniatura{
	margin-top: 45%;
	margin-bottom: 50%;
	height: 10%;
	width: auto;
	margin-left: 22%;
	transition: all 1s ease;

}

section.elenco_y_direccion aside.banda_sonora img#miniatura:hover{
	filter: drop-shadow(0.1rem 0.1rem 0.5rem red);
	transform: rotate(360deg);

}



section.elenco_y_direccion article.elenco{
	max-width: 79.25%;
	max-height: 60%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-between;
	padding-bottom: 5%;
	/* border: 0.39rem solid red; */
	background-image: url(../Imagenes/cafeteria.jpg);
	background-size: cover;
}

section.elenco_y_direccion article.elenco h1{
	text-align: center;
	font-size: 2rem;
	width: 40%;
	margin-right: 50%;
	margin-top: 2%;
	font-weight: bolder;
	color: red;
	background-color: rgb(255, 200, 0 , 0.99);
	border: 0.4rem solid red;
	border-radius: 2rem;
	text-shadow: 1px 2px 4px;
	padding-top: 1.1rem;
	padding-bottom: 1.1rem;
	transition: all 0.3s ease;

}
section.elenco_y_direccion  article.elenco h1:hover{
	font-size: 2.4rem;
}
section.elenco_y_direccion article.elenco div{
	max-width: 20%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	background-color: rgb(255, 0 , 0 , 0.75);
	border: 0.3rem solid rgb(255, 208, 0);
	margin-top: 5%;
	margin-bottom: 2%;
	border-radius: 1rem;
	text-shadow: 0.1rem 0.1rem 0.8rem;
	font-weight: bold;
	transition: all 0.4s ease;
	
}

section.elenco_y_direccion article.elenco div:hover{
	box-shadow: 0.1rem 0.1rem 2rem red;
	padding: 1.2rem;
	
}
section.elenco_y_direccion article.elenco div h2{
	color: rgb(255, 208, 0);
	font-size: 1.3rem;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

section.elenco_y_direccion article.elenco div img{
	max-width: 98%;
	max-height: 95%;
	margin: auto;
	border-top-left-radius: 0.6rem;
	border-top-right-radius: 0.6rem;
	border-bottom-left-radius: 0.6rem;
	border-bottom-right-radius: 0.6rem;
	/* margin-bottom: 2rem;
	margin-left: 1rem;
	margin-right: 1rem; */
	
}



section.elenco_y_direccion article.creadores{
	width: 100%;
	height: 20%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-image: url(../Imagenes/fondo2.jpg);
	background-size: cover;
	border-top: 2rem solid rgba(0, 0, 0, 0.945); 
	padding-bottom: 14rem;
}

section.elenco_y_direccion article.creadores h1{
	text-align: center;
	font-size: 2.5rem;
	width: 30%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 60%;
	margin-top: 2%; 
	font-weight: bolder;
	color: red;
	background-color: rgb(255, 200, 0 , 0.99);
	border: 0.4rem solid red;
	border-radius: 2rem;
	text-shadow: 1px 2px 4px;
	transition: all 0.5s ease;
}

section.elenco_y_direccion  article.creadores h1:hover{
	font-size: 2.95rem;
}

section.elenco_y_direccion article.creadores div{
	max-width: 50%;
	max-height: 50%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	/* background-image: url(../Imagenes/fondo.jpg); */
	background-color: rgb(255, 0 , 0 , 0.75);
	border: 0.3rem solid rgb(255, 208, 0);
	margin-top: 5%;
	border-radius: 1rem;
	text-shadow: 0.1rem 0.1rem 0.8rem;
	font-weight: bold;
	transition: all 0.8s ease;
}

section.elenco_y_direccion article.creadores div img{
	margin: 1rem;
	border-radius: 1rem;
}
section.elenco_y_direccion article.creadores div:hover{
	box-shadow: 0.1rem 0.1rem 2rem red;
	padding: 1.5rem;
}

section.elenco_y_direccion article.creadores div h2{
	color: rgb(255, 208, 0);
	font-size: 1.6rem;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* FIN ELENCO Y DIRECCIÓN */

/* CONTACTO */

section.contacto{
	background-image: url(../Imagenes/fondo2.jpg);
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	height: 50rem;
	padding-top: 7rem;
	padding-bottom: 5%;
}

section.contacto form{
	margin-left: 5%;
	max-width: 75%;
	max-height: 70%;
	padding-top: 2%;
	padding-bottom: 1%;
	display: flex;
	flex-flow: row wrap;
	background-image: url(../Imagenes/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border: 0.4rem solid red;
	transition: all 0.1s ease;
	
}

section.contacto form:hover{
	max-width: 79%;
	max-height: 75%;
}

form label{
	width: 20%;
	height: 7%;
	padding-top: 1rem;
	margin-left: 4%;
	text-align: center;
	font-size: 1rem;
	background-color: rgb(255, 0 , 0 );
	color:rgb(255, 208, 0) ;
	font-weight: bold;
	transition: font-size 0.2s ease;
}

form label:hover{
	font-size: 1.1rem;
}


form #nombre{
	width: 70%;
	height: 7%;
	margin-top: 0.2%;
	margin-left: 1%;
	background-color: grey;
	color: white;
	font-size: 1.1rem;
}

form #nombre::placeholder{
	color: white;
	font-size: 1.1rem;
	text-align: center;
}

form #email{
	width: 70%;
	height: 7%;
	margin-top: 0.2%;
	margin-left: 1%;
	background-color: grey;
	color: white;
	font-size: 1.1rem;
}

form #email::placeholder{
	color: white;
	font-size: 1.1rem;
	text-align: center;
}
 

form #lab_con{
	width: 20%;
	margin-left: 4%;
	margin-right: auto;
}

form #consulta{
	width: 91%;
	margin-left: 4%;
	margin-right: auto;
	height: 20%;
	background-color: gray;
	color: white;
	font-size: 1.1rem;
	text-align: left;
}

form #consulta::placeholder{
	color: white;
	font-size: 1.1rem;
	text-align: left;
}
form button{
	width: 25%;
	height: 10%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5rem;
	background-color: rgb(255, 208, 0);
	background-image: url(../Imagenes/miniatura.png);
	background-size: contain;
	color: rgb(255, 1, 21);
	font-style: oblique;
	font-weight: bold;
	text-shadow: 0.2rem 0.2rem 2rem;
	border-color: red;
	border: 0.5rem solid red;
	transition: box-shadow 0.4s ease;
}

form button:hover{
	box-shadow: 0.1rem 0.1rem 1.5rem red;
}

/* FIN CONTACTO */

/* GALERÍA Y PERSONAJES */


section.personajes{
	display: block;
	padding-top: 2%;
}

section.personajes h1{
	text-align: center;
	font-size: 2rem;
	width: 40%;
	margin-left: 2%;
	margin-bottom: 2%;
	padding-right: 0.7%;
	font-weight: bolder;
	color: red;
	background-color: rgb(255, 200, 0 , 0.98);
	border: 1.6rem solid rgb(255, 200, 0);
	border-radius: 2rem;
	text-shadow: 1px 2px 4px;
	transition: all 0.1s ease;
}

section.personajes h1:hover{
	font-size: 2.4rem;
}


section.personajes article{
	width: 100%;
	height: 30rem;
	margin-bottom: 3%; 
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background-color: rgb(206, 202, 202, 0.6);
	transition: width,margin-bottom 0.2s ease;

}

section.personajes article img{
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

section.personajes article div{
	width: 65%;
}

section.personajes article div h2{
	font-size: 2.3rem;
	font-weight: bold;
	text-align: left;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	transition: all 0.3s ease;
}

section.personajes article div p{
	font-size: 1.8rem;
	color: rgb(32, 32, 32);
	font-style: italic;
	text-align: left;
	width: 96%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.3s ease;
}

section.personajes article h2:hover{
	text-shadow: 1px 1px 2px;
}

section.personajes article p:hover{
	text-shadow: 1px 1px 2px;
}

section.personajes article:hover{
	margin-bottom: 6%;
	box-shadow: 0.1rem 0.2rem 5rem white; 
}

section.galeria{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding-bottom: 20rem;

}

section.galeria h2{
	text-align: center;
	font-size: 2.6rem;
	width: 25%;
	margin-top: 3%;
	margin-bottom: 5%;
	margin-left: 35%; 
	font-weight: bolder;
	color: red;
	background-color:black;
	border: 1.5rem solid black;
	border-radius: 2rem;
	text-shadow: 1px 2px 4px;
	transition: color,background-color,border 0.2s ease;
}

section.galeria h2:hover{
	color: red;
	background-color: rgb(255, 200, 0 , 0.98);
	border: 1.8rem solid rgb(255, 200, 0);
}

section.galeria article#gal{
	width: 97%;
	height: 95%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border-radius: 0.7rem;
	transition: all 0.3s ease-out;
	
}

section.galeria article#gal:hover{
	box-shadow: 0.2rem 0.2rem 0.5rem white;
	border-color: white;
	padding: 1rem;
}


section.galeria article#gal a{
	margin-top: 5%;
	display: flex;
	justify-content: flex-start;
	width: 8%;
	margin: 0%;
}

 section.galeria article#gal a img{
	margin-top: 20%;
	max-width: 100%;
	max-height: 70%;
	border-radius: 0.7rem;
	transition:  border , box-shadow 0.4s ease;
} 

section.galeria article#gal a img:hover{
	border: 0.2rem white;
	box-shadow: 0.2rem 0.2rem 0.5rem white;
}


/* GALERÍA Y PERSONAJES */

}
/* Versión teléfono móvil */
@media screen and (max-width: 576px){

	body{
		width: 100%;
		transition: unset;
	}

	/* HEADER */
	
	header{
		height: auto;
	}
	
	header a{
		background-color: black;
		width: 50%;
		 height: auto;
		display: flex;
		justify-content: center;
		margin-bottom: 1%;
		margin-top: 1%;  
		transition: unset; 
	}

	.icon{
		margin-top: 5%;	
		float: right;
		display: block;
		transition: all 0s ease;
	}

	.icon img{
		width: 35%;
		margin-left: 40%;
		height: auto;
		transition: all 0s ease;
	}

	header a img{
		width: 100%;
		height: 90%; 
		transition: all 0s ease 0s;
	}

	header a#log_seinfeld img{
		width: 100%;
		height: 90%; 
		transition: all 0s ease 0s;
	
	
	}
	header a#log_seinfeld{
		width: 50%;
		height: 60%;
	}
	
	
	header nav#navegador{
		background-color: black;
	}

	header nav#navegador ul{
		display: none;
	}

	header nav#navegador ul li{
		display: none;
	}

	header nav#navegador ul li a{
		display: none;
	}
	
	 header nav#navegador.responsive{
		display: block;
		max-width: 70%;
		height: auto;
		padding-bottom: 5%;
		margin-bottom: 5%;
		background-color: red;
	}

	 header #navegador.responsive a{
		margin-top: 5%;	
		float: right;
		display: block;
		background-color: transparent;
		filter: drop-shadow(5px 5px 5px black);
	} 
	
	header #navegador.responsive ul{
		background-color: transparent;
		height: 30%;
		display: block;
		border-radius: 5px;	
		margin-top: 4%;
		margin-right: 5%;
		transition: all 0s ease;		
	}
	
	header #navegador.responsive ul li{	  
		text-shadow: 1px 4px 4px;
		background-color: red;
		display: block;
		transition: all 0s ease;
	}
	
	header #navegador.responsive ul li a{
		background-color: rgb(255, 208, 0);
		color: red;
		text-decoration: none;
		text-align: center;
		transition: all 0.2s ease-in-out;
		font-size: 1.6rem;
		width: 95%;
		transition: all 0s ease;
		
	}   

	/*FIN HEADER*/


	/*COMIENZO FOOTER*/

footer{
	background-color: rgb(255, 208, 0);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 100%;
	margin: auto;

}

footer div{
	display: none;
	transition: all 0s ease;
}


footer a{
	width: 30%;
	height: 30%;
	margin-right: 10%;
	transition: none;
	transition: all 0s ease;
	
}

footer #instagram{
	 width: 13%;
	height: 7%;
	padding-bottom: 2%; 
	transition: all 0s ease;
}

footer #instagram img{
	margin-top: 60%;
	margin-left: 10%;
	transition: all 0s ease;
}

/*FIN FOOTER*/

/* INDEX */
section{
	max-width: 100%;
	height: auto;
	background-image: url("../Imagenes/departamento.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

section.home{
	padding-top: 2%;
	padding-bottom: 3%;
}

article#art1{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-content: flex-end;
	max-width: 90%;
	width: auto;
	height: 25rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5rem;
	/* border: 5px solid rgb(206, 202, 202); */
	background-image: url(../Imagenes/portada.jpg);
	background-size: cover;
	transition: all 0.4s ease;
}

article#art1:hover{
	
	box-shadow: 0.2rem 0.2rem 1.2rem rgb(255, 208, 0);
	padding: 1rem;
}

div.cuadro_texto{
	display: block;
	background-color: rgb(68, 63, 63);
	max-width: 90%;
	max-height: 45%;
	width: auto;
	height: auto;
	border: 5px solid;
	border-radius: 6px;
	border-style: outset;
	border-color: rgb(255, 255, 255);
	opacity: 0.95;
	padding-bottom: 0%;
	margin-right: 0.5rem;
	margin-bottom: 0.8rem;
	padding-bottom: 3%;
	text-align: left;
	transition: all 0.2s ease;	
}

div.cuadro_texto:hover{
	background-color: rgb(51, 47, 47);
	opacity: 1;
	border-radius: 1.3rem ;
	margin-right: 2rem;
}

div.cuadro_texto h2{
	font-size: 1.9rem;
	font-weight: bolder;
	font-style: italic;
	margin-top: 3%;
	margin-left: 3%;
}

div.cuadro_texto p{
	text-align: left;
	font-size: 1.6rem;
	margin-top: 3%;
	margin-left: 3%;
}


section article#art2{
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	width: 91%;
	margin-left: auto;
	margin-right: auto;
}

section article#art2 div{
	display: block;
	background-color: rgb(68, 63, 63);
	border: 5px;
	border-radius: 6px;
	border-style: outset;
	border-color: rgb(255, 255, 255);
	opacity: 0.85;
	max-width: 85%;
	margin-bottom: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	 transition: all 0.2s ease; 
}
section article#art2 div:hover{
	background-color: rgb(51, 47, 47);
	opacity: 1;
	margin-right: 2rem;
}

section article#art2 div h2{
	font-size: 1.9rem;
	padding-top: 1%;
	padding-bottom: 1%;
	font-weight: bolder;
	font-style: italic;
}

section article#art2 div p{
	font-size: 1.6rem;
}

/*FIN INDEX*/

/* TEMPORADAS */

section.contenedor_tabla{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 7%;
	padding-bottom: 40%;
}

section.contenedor_tabla table{
	width: 95%;
	max-height: 70%;
	background-image: url(../Imagenes/Fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	border-collapse: collapse;
	transition: all 0.3s ease;
}
/*FIN TEMPORADAS*/

/* CRÍTICA */
section.Critica{
	max-width: 95%;
}

section.Critica h1{
	text-align: center;
	font-size: 2.2rem;
	width: 40%;
	margin-left: 45%;
}

section.Critica div{
	display: block;
	width: 100%;
	max-height: 30%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgb(206, 202, 202, 0.6);
}

section.Critica div h2{
	font-size: 2.3rem;
}

section.Critica div h2 img#tn{
	width: 3rem;
}

section.Critica div h2 img#empire{
	width: 16.5%;
	height: 15.5%;
}

section.Critica div h2 img#guardian{
	width: 21%;
	height: 20%;
}

section.Critica div blockquote{
	font-size: 1.9rem;
}

section.Critica div p{
	font-size: 1.65rem;
	padding-bottom: 6%;
}

/* FIN CRÍTICIA */
/* ELENCO Y DIRECCIÓN */

section.elenco_y_direccion{
	max-width: 90%;
	height: 100%;
	display: block;
}


section.elenco_y_direccion aside.banda_sonora{
	display: none;
	visibility: hidden;

}

section.elenco_y_direccion article.elenco{
	max-width: 100%;
	max-height: 70%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-between;
	padding-bottom: 5%;
	/* border: 0.39rem solid red; */
	background-image: url(../Imagenes/cafeteria.jpg);
	background-size: cover;
}

section.elenco_y_direccion article.elenco h1{
	font-size: 1.8rem;
	width: 45%;

}

section.elenco_y_direccion article.elenco div{
	max-width: 45%;	
}


section.elenco_y_direccion article.creadores{
	width: 100%;
	height: 20%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-image: url(../Imagenes/fondo2.jpg);
	background-size: cover;
	border-top: 2rem solid rgba(0, 0, 0, 0.945); 
	padding-bottom: 14rem;
}

section.elenco_y_direccion article.creadores h1{
	width: 50%;
	margin-left: 40%;
	margin-top: 2%; 
}

section.elenco_y_direccion article.creadores div{
	max-width: 90%;
	max-height: 95%;
}

/* FIN ELENCO Y DIRECCIÓN */


/* CONTACTO */
section.contacto form{
	margin-left: 2%;
	max-width: 90%;
	max-height: 85%;
	padding-right: 3%;
}


form label{
	margin-left: 2%;
	padding-bottom: 2%;
	font-size: 1.2rem;
}


form #nombre{
	width: 75%;
	height: 10%;
	margin-top: 0.1%;
	font-size: 1.2rem;
}

form #email{
	width: 75%;
	height: 10%;
	margin-top: 0.1%;
	font-size: 1.2rem;
}
 
form #lab_con{
	width: 25%;
	margin-left: 2%;
	padding-bottom: 0%;
}

form #consulta{
	width: 97%;
	margin-left: 2%;
	height: 25%;
	font-size: 1.2rem;
}

form #consulta::placeholder{
	font-size: 1.2rem;
}


form button{
	width: 35%;
	height: 11%;	
	font-size: 1.8rem;
	transition: none;
}
/* FIN CONTACTO */


/* GALERÍA Y PERSONAJES */


section.personajes{
	padding-top: 5%;
}

section.personajes h1{
	font-size: 2.3rem;
	width: 42%;
	border: 1.2rem solid rgb(255, 200, 0);
	margin-bottom:10%;
	transition: none;
}

section.personajes article{
	width: 100%;
	height: auto;
	margin-bottom: 20%; 
	display: block;
	transition: none;

}

section.personajes article img{
	width: 85%;
	height: auto;
	margin-left: 7.5%;
}

section.personajes article div{
	width: 100%;
}

section.personajes article div h2{
	font-size: 2.5rem;
	padding-top: 3%;
}

section.personajes article div p{
	font-size: 2rem;
	padding-bottom: 10%;
}


section.galeria{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding-bottom: 20rem;

}

section.galeria h2{
	font-size: 3rem;
	width: 30%;
	margin-top: 10%;
	margin-left: 31%; 
	font-weight: bolder;
}

section.galeria article#gal{
	width: 97%;
	height: 95%;
	padding-bottom: 10%;
	
}


section.galeria article#gal a{
	margin-top: 5%;
	display: flex;
	justify-content: flex-start;
	width: 45%;
	height: auto;
	margin: 0%;
}

 section.galeria article#gal a img{
	margin-top: 20%;
	max-width: auto;
	max-height: 80%;
} 

/* FIN GALERÍA Y PERSONAJES */


/*	Final del código css */

}